body {
  text-align: center;
  padding: 10px;
  background-color: #f2f2f2;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
img {
  width: 20px;
  margin-top: 12px;
  margin-left: 12px;
}
#sbm {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.navbar {
  overflow: hidden;
  background-color: #f2f2f2;
  position: fixed;
  z-index: 9;
  height: 50px;
  width: 100%;
  font-family: "Courier New", Courier, monospace;
  top: 0;
  left: 0;
  box-shadow: 5px 5px 10px rgba(63, 63, 63, 0.505);
}
.navbar a {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#lado-esquerdo {
  position: sticky;
  top: 1rem;
  left: 1rem;
  width: 35rem;
  height: 100%;
  background-color: #5e6d55;
  overflow: hidden;
}
.container {
  display: flex;
  justify-content: center;
}
#bandeja {
  position: fixed;
  float: left;
  top: 20%;
  left: 25%;
  width: 22rem;
  height: 32rem;
  background-color: #939e8c;
}
#bandeja-footer {
  position: absolute;
  bottom: 0;
  width: 350px;
  height: 50px;
  background-color: #f2f2f2;
  box-shadow: 10px 10px 20px rgba(63, 63, 63, 0.356);
}
.bio {
  top: 20rem;
  position: absolute;
  width: 350px;
  margin-left: 30rem;
  display: flex;
  width: 399px;
  height: 136px;
  flex-direction: column;
  justify-content: center;
  color: #1d1d1d;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.ola {
  color: #1e1e1e;
  font-size: 128px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.line {
  width: 55%;
  border-color: #000;
}
button {
  background-color: #5e6d55;
  margin: 2rem;
  border-radius: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #d9d9d9;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  display: flex;
  width: 10rem;
  height: 2, 5rem;
  justify-content: center;
}
